.button {
    display: block;
    width: 161px;
    height: auto;
    color: rgba(255, 4, 180);
    text-align: center;
    border-radius: 5px;
    font-family: var(--phunk-phont);
    border: 1px solid rgba(255, 4, 180);
    margin-top: 1.5rem;
    transition: 0.3s;
    padding: 1rem;
    font-size: 21px;
}

.button:hover {
  background-color: rgba(255, 4, 180);
  color: white;
}

.wide-button {
  margin: 0 auto;
  width: 230px;
}

@media(max-width: 768px) {
  .button{
    margin: 0 auto;
  }

  .wide-button {
    width: auto;
  }
}