.phunk-intro {
  margin: 0 auto;

  & h1 {
    font-family: 'phunkphont';
    color: #FF04B4;
    font-size: 3rem;
  }
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

h2.large-title {
  font-family: inter;
  color: white;
  font-size: 96px;
  text-align: center;
}

.side-by-side {
  margin-top: 6rem !important; 
  margin-bottom: 12rem !important;
}

.side-by-side-col {
  & h3 {
    font-family: inter;
    color: white;
    margin-bottom: 1.5rem;
  }
}

.side-by-side-col--image {
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.auction-image {
  height: 6rem
}

.flywheel-image {
  max-height: 400px;
}

@media(max-width: 768px) {
  .phunk-intro {
    & h1 {
      font-size: 1.5rem;
    }
  }

  h2.large-title {
    font-size: 48px;
  }
}

/* 
TODO:
 - spacing between elements in projects section

*/