.logo {
  max-height: 20em;
  padding: 1.5em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding: 3rem;
  max-width: 1280px;
  margin: 0 auto;
}

.topBar {
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phunkTitle {
  font-family: phunkphont;
  font-size: 2rem;
}

.menu {
  display: flex;
  justify-content: end;
}

.menu p {
  margin: 0 1rem;
}

.intro-text-container {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-text-container h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.intro-text-container h3 span {
  font-family: 'phunkphont';
  color: #9b59b6;
}

.intro-phunk-container {
  grid-column: 7 / -1;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: 600px) {

  .intro-text-container,
  .intro-phunk-container {
    grid-column: 1 / -1;
  }
}