@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg-color: #232323;
  --phunk-primary: #FF04B4;
  --phunk-phont: 'phunkphont';
}

html {
  background-color: var(--dark-bg-color);
}

@font-face {
  font-family: phunkphont;
  src: url(./assets/04B_30__.TTF);
}

@font-face {
  font-family: inter;
  src: url(./assets/Inter-Black.ttf)
}