/* @import "normalize.css"; */
@import 'bulma/css/bulma.css';

/* background-color: #232323; */
/* color: #FF04B4 */

html {
  background-color: #232323;
}

.body {
  max-width: 1920px;
  margin: 0 auto;
}

@font-face {
  font-family: phunkphont;
  src: url(./assets/04B_30__.TTF);
}

@font-face {
  font-family: inter;
  src: url(./assets/Inter-Black.ttf)
}